nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
}

.myname {
  /*font-style: Robot Slab;*/
  font-size: 18px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
